<!-- # app/views/auth/form_login.html.erb -->
<!doctype html>
<html>
  <body>
  	<div id="main" role="main">
      <div class="container p-3 my-3 border">
      	<h1>Login</h1>
		<!-- menampilkan pesan notice -->
		<% if notice %>
		    <p><%= notice %></p>
		<% end %>

		<!-- menampilkan pesan alert -->
		<% if alert %>
		    <p><%= alert %></p>
		<% end %>

		<!-- menampilkan form login -->
		<%= form_tag controller: :auth, action: :login, local: true do %>
		   <div class="form-group">
		   	<%= label_tag :email %>
		    <%= text_field_tag :email, '', {placeholder: 'Email',class: "form-control"} %> <br><br>
		   </div>
		   <div class="form-group">
		   	<%= label_tag :password %>
		    <%= password_field_tag :password, '', {placeholder: 'Password', class: "form-control"} %> <br><br>
		   </div>
		    <%= submit_tag 'Login', class:"btn btn-outline-success" %> <br>
		<% end %>
	</div>
</div>
</div>
</body>
</html>