<div class="container p-3 my-3 border">
    <%= form_tag(organizations_search_path, :method => "get") do %>
      <div class="input-group">
        <%= search_field_tag :search, params[:search], placeholder: "Type ", class: "form_control" %>
        <div class="input-group-btn">
          <%= button_tag " Search for Organization", class: "btn btn-info glyphicon glyphicon-search", :name => nil%>
        </div>
      </div>
    <% end %>
  <% if notice %>
    <p id="notice" class="alert alert-success" ><%= notice %></p>
  <% end %>

  <h1>Organizations</h1>
  <%= link_to 'Logout', user_logout_path(current_user), class:"btn btn-danger pull-right", style: "margin-bottom:20px;", method: :delete%>
  <%= link_to 'New Organization', new_organization_path, {class:"btn btn-success", style: "margin-bottom:20px;"} %>
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Website</th>
        <th>Logo</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= organization.name %></td>
          <td><%= organization.phone %></td>
          <td><%= organization.email %></td>
          <td><%= organization.website %></td>
          <td><%= organization.logo %></td>
          <td><%= link_to 'Show', organization, class: "btn btn-primary" %></td>
          <td><%= link_to 'Edit', edit_organization_path(organization), class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', organization, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <% if @organizations_noaccess %>
        <% @organizations_noaccess.each do |organization| %>
          <tr>
            <td><%= organization.name %></td>
            <td><%= organization.phone %></td>
            <td><%= organization.email %></td>
            <td><%= organization.website %></td>
            <td><%= organization.logo %></td>
            <td><%= link_to 'Show', organization, class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      <% end %>

    </tbody>
  </table>

  <br>

  
</div>
